html{
    background-image: linear-gradient(to right, brown 20%, black 100%);
    background-size:contain;
} 
img{
    max-width: 100%;
    max-height: 100%;
}

.img-fluid{
    max-width: 150px;
    height: 150px;
}

.header{
    background-image: url(../img/fondoheader.png);
}



header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-end;
}
.logotipo{
    width: 150px;
    height: 150px; 
}


h3{
    padding: 0px;
    margin: 30px;
    border-style:groove;
    border-radius: 110px;
    border-color:brown;
    border-top-width: 10px;
}

.listaInicio {
              list-style: none;
                li{
                    display: inline-block;
                    line-height: 1.4;
                    a{
                        border-style:double;
                        background-size: 70px;
                        text-decoration: none;
                        color: black;
                        line-height: 1.4;
                        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                     }
                   } 
              }   

/* FORMULARIO */


form{
    .recuadroFormulario{
        border-color: black;
        border-style: double;
        border-width: 5px;
        input {
            height: 100px;
            width: 100px;
            transition: all 2s;
                &:focus {
                width: 300px;
                height: 20px;
                font-size: 20px;
                }  
            }
    }
}

/* UBICACION */

.ubicacion{
    font-size: 20px;
    color:black;
    text-decoration:underline;
    font-weight: bold;
    margin: 20px;
}
.mapa{
    white-space:nowrap;
    text-align: center;
    width: 300px;
    margin: 5px;
}
#largeMapLink {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: black;
    margin: 5px;
}
#dirMapLink{
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: black;
}

/*Final de Pagina */
#final{
    background-image:url(../img/fondoheader.png);
    background-size: 100%;
    text-align: center;
}


footer {
	text-align: center;

}
.logotipoFace{
    width: 50px;
    height: 50px;
    padding-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
}
.footer {
        .mR{
                p{
                    text-decoration: none;
                    text-align:center;
                    font-family: 'Times New Roman', Times, serif;
                    color: black;
                    font-weight: bold;
                    font-size: 15px;
                }
        }
    }