html{
    background-image: linear-gradient(to right, brown 20%, black 100%);
    background-size:contain;
} 
img{
    max-width: 100%;
    max-height: 100%;
}

.container-fluid{
    background-color: transparent;
}

.img-fluid{
    max-width: 150px;
    height: 150px;
}

.header{
    background-image: url(../img/fondoheader.png);
}



header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-end;
}
.logotipo{
    width: 150px;
    height: 150px; 
}


h3{
    padding: 0px;
    margin: 30px;
    border-style:groove;
    border-radius: 110px;
    border-color:brown;
    border-top-width: 10px;
}

.listaInicio {
              list-style: none;
                li{
                    display: inline-block;
                    line-height: 1.4;
                    a{
                        border-style:double;
                        background-size: 70px;
                        text-decoration: none;
                        color: black;
                        line-height: 1.4;
                        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                     }
                   } 
              }   
///////////* CONTENIDO */////////////

.animacion {
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 70px;
    margin-top: 20px;
    width: 450px;
    height: 100px;
    animation-name: diadelamigo;
    animation-duration: 10s;
    animation-delay: 1s;
}

.foto_regalos {
    width: 350px;
    height: 250px;
    padding: 10px;
    border-style:dashed;
    margin-right: 50px;
    margin-bottom: 20px;
    border-color: rgb(246, 255, 113);
    border-width: 5px;
    background-color: transparent;
}


/////////////*FINAL DE PAGINA *///////////
#final{
    background-image:url(../img/fondoheader.png);
    background-size: 100%;
}

footer {
	text-align: center;

}

.logotipoFace {
    width: 40px;
    height: 100px;
    padding-top: 20px;
    align-items: center;
}
.mR{
    margin-top: 50px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    font-size: 15px;
}