////* COLORES */////
$color-pagina: linear-gradient(to right, brown 20%, black 100%);




/////* GRIDS, FLEXBOX, BOOTSTRAP */////
$formato-pagina: contain;


/////* HEADER */////
$fondo-header: url(../img/fondoheader.png);

