///////////* INICIO */////////
@import "index";
////////* CONTACTO *//////
@import "contacto";
///////* GALERIA *//////
@import "galeria";
//////* PROMOCIONES *///////
@import "promociones";
//////*REGALOS */////////
@import "regalos";

///* MIXIN *///
@mixin estiloFuente{
    color:rgb(251, 251, 79);
    font-size: 20px;
    font-weight: normal;   
}

h1{
    font-size: 20px;
    @include estiloFuente;
}

h2{
    font-size: 15px;
     @include estiloFuente;
}

///* EXTENDED */////
.foto {
    width: 350px;
    height: 250px;
    padding: 10px;
    border-style:dashed;
    margin-right: 50px;
    margin-bottom: 20px;
    border-color: rgb(246, 255, 113);
    border-width: 5px;
    background-color: black;
}

.foto_regalos{
    @extend .foto;
    background-color: transparent;

}

.foto_fiambres1{
    @extend .foto;
    border-style:dashed;
    align-items: center;
}

////* MAP GET *////
$estilo-parrafo : (
    color:blanchedalmond,
    centro: center,
    negrita: bold,
    tFuente: 18px,
);

p{
 color: map-get($estilo-parrafo, color);
 text-align: map-get($estilo-parrafo, centro);
 font-weight: map-get($estilo-parrafo, negrita);
 font-size: map-get($estilo-parrafo, tFuente);
}

.img-fluid{
    max-width: 150px;
    height: 150px;
}

.header{
    background-image: url(../img/fondoheader.png);
}



header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-end;
}
.logotipo{
    width: 150px;
    height: 150px; 
}


h3{
    padding: 0px;
    margin: 30px;
    border-style:groove;
    border-radius: 110px;
    border-color:brown;
    border-top-width: 10px;
}

.listaInicio {
              list-style: none;
                li{
                    display: inline-block;
                    line-height: 1.4;
                    a{
                        border-style:double;
                        background-size: 70px;
                        text-decoration: none;
                        color: black;
                        line-height: 1.4;
                        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                     }
                   } 
              }    


















